html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 600px;
  margin: 10px auto;
  border: 1px solid black;
  position: relative;
  padding: 20px 30px;
}
.garis1 {
  border: 1px solid black;
}
picture img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10px;
  right: 240px;
  border-radius: 50%;
}
.jk1 {
  position: absolute;
  left: 35%;
  top: 310px;
}
#textarea {
  border: 1px solid rgb(195, 197, 198);
  border-radius: 5px;
}
.light {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  position: absolute;
  top: -1px;
  left: -1px;
  text-align: center;
  line-height: 12px;
}
.dark {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  position: absolute;
  top: -1px;
  left: 19px;
  text-align: center;
  line-height: 12px;
}
.icon {
  width: 15px;
  height: 15px;
}
.containersatu {
  border: 1px solid #fff;
}
.warna {
  border: 1px solid rgb(175, 171, 171);
}
.html {
  display: inline-block;
  margin-left: 128px;
}
.css {
  display: inline-block;
  margin-left: 143px;
}
.js {
  display: inline-block;
  margin-left: 100px;
}
